@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #2d3440;
  background-color: #FEAFC3;
}

.blue {
  background-color: #69a9ff;
}

.yellow {
  background-color: #fcc850;
}

.page-wrapper {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-wrapper ul,
.page-wrapper li,
.user-menu-item {
  list-style: none;
}

.page-wrapper a {
  text-decoration: none;
  color: #2d3440;
}

.page-wrapper a:focus-visible {
  outline: none;
  border: none;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 26px;
  background: transparent;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #2d3440;
  display: block;
}

.header {
  padding: 24px 0;
  position: relative;
  z-index: 2;
}

.navigation {
  width: 100%;
  display: flex;
}

.logo-link {
  margin-right: 16px;
  transition: filter 0.8s, transform 0.4s;
}

.logo-image {
  display: block;
}


.logo-link:hover {
  filter: drop-shadow(1px 1px 2px rgba(252, 252, 252, 0.8));
}

.logo-link:active,
.logo-link:focus {
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 2px rgba(252, 252, 252, 0.2));
}

.menu-list,
.submemu {
  margin: 0;
  padding: 0;
}

.menu-list {
  display: flex;
  width: 520px;
  margin-right: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-top: 12px;
  flex-wrap: wrap;
}

.catalog-item {
  width: 117px;
}

.delivery-item {
  width: 179px;
}

.about-item {
  width: 210px;
}

.with-submenu {
  position: relative;
}

.menu-btn {
  width: 100%;
  padding: 6px 13px 6px 16px;
  border-radius: 30px;
  transition: background-color 0.4s;
  display: block;
}

.catalog-btn {
  text-align: left;
  position: relative;
  transition: background-color 0.4s, color 0.4s;
}

.catalog-btn::after {
  content: "";
  background: url("../images/icons/arrow-down.svg");
  position: absolute;
  top: 8px;
  right: 15px;
  width: 16px;
  height: 16px;
  transition: background-image 0.4s;
}

.menu-btn:hover {
  background-color: rgba(252, 252, 252, 0.50);
}

.catalog-btn:focus,
a.menu-btn:focus {
  outline: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.50);
}

.menu-btn:active {
  background-color: #fcfcfc;
}

.submemu {
  flex-wrap: wrap;
  flex-direction: column;
  width: 135px;
  padding: 8px 0;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  font-size: 14px;
  position: absolute;
  top: calc(102% - 5px);
  left: 0;
  transition: opacity 0.4s, visibility 0.4s;
  opacity: 0;
  visibility: hidden;
}

.with-submenu:hover .btn {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.catalog-item:hover .catalog-btn:after {
  background-image: url("../images/icons/arrow-up.svg");
}

.with-submenu:hover .submemu,
.with-submenu:hover .user-submenu {
  opacity: 1;
  visibility: visible;
}

.catalog-btn:active {
  background-color: #ff4a78;
  opacity: 0.3;
}

.submenu-link {
  font-size: 14px;
  padding: 6px 13px 6px 16px;
  display: block;
  border-radius: 0;
  transition: background-color 0.4s;
}

.item-bold {
  margin-bottom: 8px;
  position: relative;
}

.item-bold::after {
  content: "";
  background-color: #b9b9b9;
  width: calc(100% - 32px);
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 16px;
}

.link-bold {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
}

.catalog-item:focus-within .submenu-link:focus {
  outline: 2px solid #ffcbd8;
  outline-offset: -6px;
  border-radius: 8px;
}

.submenu-link:hover {
  background-color: #ffcbd8;
}

.submenu-link:active {
  background-color: #ff7799;
}

/*  Не знаю куда приделывать этот класс. В стайлгайде есть, а как в жизни? Наверное надо js-ом приделать к соответсвующей ссылке (стр 31 catalog.html  */
a.submenu-current {
  background-color: #ff4a78;
  color: #fcfcfc;
}

/*  Пользовательское меню  */
.user-menu-list {
  padding-left: 0;
  padding-top: 12px;
  margin: 0;
  min-width: 456px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 16px;
  z-index: 1;
}

.phone-box {
  max-width: 155px;
}

.phone {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  transition: transform 0.4s, text-shadow 0.3s;
}

a.phone:focus,
.breadcrumbs-link:focus {
  transform: scale(1.1);
  text-shadow: 0 0 10px #ffffff;
}

.phone:hover,
.breadcrumbs-link:hover {
  transform: scale(1.06);
}

.phone:active,
.breadcrumbs-link:active {
  text-shadow: 0 0 10px #fcfcfc;
}

.search-form,
.user-form,
.subcart-box,
.empty-subcart-box {
  width: 356px;
  padding: 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  position: absolute;
  top: calc(102% + 8px);
  right: 0;
  transition: opacity 0.4s, visibility 0.4s;
  opacity: 0;
  visibility: hidden;
}

.user-menu-item .btn:focus {
  outline: 2px solid #000000;
}

.search-btn {
  width: 32px;
  height: 32px;
  background: url("../images/icons/search.svg") center/16px no-repeat;
  background-color: rgba(252, 252, 252, 0.30);
  border-radius: 50%;
  /* display: block; */
}

.entry-btn,
.cart-btn,
.empty-cart-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 30px;
  padding: 6px 16px 6px 38px;
  position: relative;
}

.li-box {
  position: relative;
}

.with-submenu:hover .search-btn {
  background-image: url("../images/icons/search-white.svg");
}

.input {
  width: 324px;
  min-height: 48px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 13px 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.input:hover {
  border: 1px solid #2d3440;
}

.input:focus-visible {
  outline: none;
  border: none;
}

.input:focus {
  border: 2px solid #2d3440;
}

/*  для ошибки в инпуте  */
.input-wrong {
  border: 1px solid #ea5454;
}

.input-wrong:hover {
  border: 2px solid #ea5454;
}

.input:disabled {
  border: 1px solid #b9b9b9;
  background-color: #e7e7e7;
}


.search-input {
  position: relative;
}

.search-input::placeholder {
  color: #b9b9b9;
}

.search-input:hover::placeholder {
  opacity: 0.8;
}

.delete-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.delete-btn::before,
.delete-btn::after {
  content: "";
  width: 12px;
  height: 1px;
  top: 8px;
  left: 3px;
  position: absolute;
  background-color: #2d3440;
  opacity: 0.4;
}

.delete-btn::before {
  transform: rotate(45deg);
}

.delete-btn::after {
  transform: rotate(-45deg);
}

.delete-btn:hover {
  transform: scale(1.3);
}

.delete-btn:active::before,
.delete-btn:active::after {
  background-color: rgba(45, 52, 64, 0.6);
}

.delete-btn:focus {
  /* outline: 2px solid #ff2f64;
  border-radius: 2px; */
  background-color: rgba(231, 231, 231, 0.7);
}

.delete-btn:focus-visible {
  outline: none;
  border: none;
}

.reset-search {
  top: 40px;
  right: 30px;
  width: 16px;
  height: 16px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: none;
}

.search-input:active ~ .reset-search,
.search-input:focus ~ .reset-search {
  display: block;
  /*  не  придумал пока как по другому приделать кнопку, когда текст в инпуте  */
}

.entry-btn {
  width: 88px;
  background: url("../images/icons/enter.svg") left 16px top 8px/16px no-repeat;
  background-color: rgba(252, 252, 252, 0.30);
}

.with-submenu:hover .entry-btn {
  background-image: url("../images/icons/enter-white.svg");
}

.user-form {
  width: 420px;
  padding: 49px 48px 52px 48px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.subtitle {
  margin: 0;
  margin-bottom: 31px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.user-email {
  margin-bottom: 16px;
}

.password {
  margin-bottom: 31px;
}

.buttons-wrap {
  width: 100%;
  display: grid;
  align-content: space-between;
  column-gap: 23px;
  grid-template-columns: 113px 1fr;
}

.user-submenu .btn {
  padding: 11px;
  font-weight: 700;
  border-radius: 26px;
  outline: 4px solid rgba(255, 47, 100, 0.30);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  transition: all 0.3s;
}

.user-submenu .btn:hover {
  outline: 4px solid #ff2f64;
  background: rgba(252, 252, 252, 0.30);
  color: #2d3440;
}

.user-submenu .btn:active {
  outline: 2px solid rgb(45, 52, 64);
  background: #feafc3;
  color: #fcfcfc;
}

.user-submenu .btn:focus {
  outline: 2px solid #2d3440;
  background: #ff2f64;
}

.enter-btn {
  grid-row: 1 / span 2;
}

a.near-enter {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-underline-position: under;
  transition: font-weight .4s, text-shadow .4s, padding-left .4s;
}

.registration {
  padding-top: 5px;
}

.near-enter:hover {
  font-weight: 600;
  text-decoration-color: #ff2f64;
}

.near-enter:active {
  font-weight: 600;
  text-decoration-color: #ff2f64;
  opacity: 0.5;
}

.near-enter:focus {
  outline: 1px solid #000000;
  outline-offset: 2px;
  border-radius: 4px;
  padding-left: 10px;
}

.cart-btn,
.empty-cart-btn {
  width: 115px;
  background: url("../images/icons/cart.svg") left 16px top 8px/16px no-repeat;
  background-color: rgba(252, 252, 252, 0.30);
}

.with-submenu:hover .cart-btn,
.with-submenu:hover .empty-cart-btn {
  background-image: url("../images/icons/cart-white.svg");
}

.subcart-box {
  width: 441px;
  padding: 49px 48px;
  position: absolute;
}

.subcart-box h3 {
  margin-bottom: 33px;
}

.subcart-list,
.subcart-item {
  padding: 0;
}

.subcart-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 62px;
  position: relative;
}

.subcart-list::after {
  content: "";
  background-color: #e7e7e7;
  width: 345px;
  height: 1px;
  bottom: -32px;
  left: 0;
  position: absolute;
}

.subcart-item {
  display: grid;
  grid-template-columns: 206px 1fr 16px;
  gap: 20px;
  position: relative;
}

.subcart-link {
  display: grid;
  grid-template-columns: 46px 1fr;
  column-gap: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.subcart-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  border-radius: 26px;
}

a.subcart-link:focus {
  border-radius: 26px;
  outline: 4px solid rgba(45, 52, 64, 0.2);
  outline-offset: 4px;
}

a.subcart-link:active {
  transform: translateY(5px);
  box-shadow: 0 4px 12px -5px rgba(45, 52, 64, 0.10);
  outline: none;
}

.subcart-img {
  grid-row: 1 / span 2;
}

.subcart-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.total-per-position {
  padding-top: 12px;
}

.product-desc-box span {
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.subcart-item .delete-btn::before,
.subcart-item .delete-btn::after {
  opacity: 1;
  top: 8px;
  left: 3px;
}

.subcart-row-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.to-order {
  width: 198px;
  display: block;
  text-align: center;
}

.subcart-row-box .subcart-text {
  padding-top: 13px;
  text-align: right;
  width: 130px;
}

/*  Пустая корзина  */
.empty-cart {
  display: none;
}

.empty-subcart-box {
  width: 288px;
  padding: 48px 28px;
  text-align: center;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.empty-cart-btn {
  width: 140px;
}

.empty-subcart-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.main-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/*  Слайдер  */
.slider {
  width: 1170px;
  position: relative;
  margin: 0 auto;
  top: 0;
  overflow: hidden;
  margin-bottom: 78px;
}

.contral-slider {
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 26px;
  border: 2px solid #fcfcfc;
  background: url("../images/icons/arrow-slider.svg") center/16px no-repeat;
  background-color: rgba(252, 252, 252, 0.30);
  top: 255px;
  left: 852px;
  z-index: 1;
}

.next-control {
  left: 526px;
  transform: rotate(180deg);
}

.contral-slider:hover {
  background-image: url("../images/icons/arrow-slide-blackr.svg");
  background-color: #fcfcfc;
}

.contral-slider:active {
  background-color: rgba(252, 252, 252, 0.50);
  border-color: rgba(252, 252, 252, 0.50);
}

.contral-slider:focus {
  border: 2px solid #2d3440;
  background-image: url("../images/icons/arrow-slide-blackr.svg");
}

.contral-slider:disabled {
  opacity: 0.3;
}

.slider-list {
  padding-left: 0;
  margin: 0;
  display: flex;
  transition: transform 1s;
}

.slider-item {
  width: 100%;
  display: flex;
  /*  времянка чтоб сделать стили на всех слайдах  */
  transform: translateX(calc(-1170px * 0));
}

.slider-desc-box {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 136px;
  width: 540px;
}

.what-is-good {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 24px;
  margin-top: 0;
  width: 470px;
}

.text-slider {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 46px;
  width: 425px;
}

.to-do-order {
  width: 139px;
  border-radius: 26px;
  /* outline: 4px solid rgba(252, 252, 252, 0.40); */
  background: #fcfcfc;
  box-shadow:
    0 0 0 4px rgba(252, 252, 252, 0.40),
    0 4px 12px 0 rgba(45, 52, 64, 0.10);
  padding: 12px 32px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  word-wrap: break-word;
}

.to-do-order:hover {
  outline: 4px solid #fcfcfc;
  background: rgba(252, 252, 252, 0.40);
}

.to-do-order:active {
  outline: 2px solid #2d3440;
  background: #fcfcfc;
}

.to-do-order:focus {
  outline: 2px solid #2d3440;
  background: rgba(252, 252, 252, 0.50);
}

.to-do-order:disabled {
  outline: 2px solid #2d3440;
  background: rgba(252, 252, 252, 0.50);
}

.active-img-box {
  width: 387px;
  padding-top: 21px;
  position: relative;
}

.active-img-box::after {
  content: "";
  position: absolute;
  background-color: #ffcbd8;
  border-radius: 50%;
  width: 327px;
  height: 312px;
  top: 118px;
  left: 5px;
  z-index: -1;
}

.blue .active-img-box::after {
  background-color: #9fc8ff;
}

.yellow .active-img-box::after {
  background-color: #fcdc92;
}

.active-img {
  padding-left: 11px;
  display: block;
}

.mini-img-box {
  display: flex;
  width: 278px;
  justify-content: flex-end;
  padding-top: 202px;
}

.img-link {
  width: 100px;
  height: 160px;
  display: block;
  position: relative;
}

.img-link:last-child {
  margin-left: 41px;
}

.img-small {
  display: block;
  margin: 0 auto;
  transition: transform 0.6s;
}

.img-link::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 203, 216, 0.4);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: 25px;
  left: 0;
  z-index: -1;
  transition: background-color 0.6s;
}

.blue .img-link::after {
  background-color: rgba(159, 200, 255, 0.4);
}

.yellow .img-link::after {
  background-color: rgba(252, 220, 146, 0.4);
}

.img-link:hover .img-small,
.img-link:focus .img-small {
  transform: scale(1.1);
}

.img-link:hover::after,
.img-link:focus::after {
  background-color: rgba(255, 203, 216, 0.6);
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.slider-footer ol,
.slider-footer ul,
.slider-footer li {
  margin: 0;
  padding: 0;
}

ol.pagination {
  display: flex;
  gap: 8px;
  padding-top: 14px;
}

.pagination-btn {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
}

.current-link {
  background-color: rgba(252, 252, 252, 1);
}

.pagination-btn:hover {
  border: 1px solid #fcfcfc;
}

.pagination-btn:focus {
  border: 1px solid #2d3440;
}

.pagination-btn:active {
  opacity: 0.5;
}

.socials {
  width: 106px;
  display: flex;
  gap: 11px;
  flex-wrap: wrap;
}

.social-link {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
}

.telegramm-link {
  background: url("../images/icons/social-telegram.svg") center/28px no-repeat;
}

.vk-link {
  background: url("../images/icons/social-vk.svg") center/28px no-repeat;
}

.youtube-link {
  background: url("../images/icons/social-youtube.svg") center/28px no-repeat;
}

.social-link::before {
  content: "";
  background-color: #2d3440;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  top: 3px;
  left: 3px;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.social-link:hover::before {
  opacity: 1;
}

.social-link:active::before {
  opacity: 0;
}

.telegramm-link:active {
  background-image: url("../images/icons/social-telegram-active.svg")
}

.vk-link:active {
  background-image: url("../images/icons/social-vk-active.svg")
}

.youtube-link:active {
  background-image: url("../images/icons/social-youtube-active.svg")
}

.social-link:focus::before {
  opacity: 1;
}

a.social-link:focus {
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}


/*  Подарки  */
.slogan {
  margin: 0 auto 53px;
  /* margin-bottom: ; */
  width: 600px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

/*  Подарки   */
.gifts {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  column-gap: 30px;
  margin-bottom: 83px;
}

.slogan {
  grid-column: span 2;
}

.gift {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  background: #ff7799;
  align-self: flex-start;
}

.gift-box {
  padding: 36px 0 36px 36px;
}

.desc-text {
  margin-top: 0;
  margin-bottom: 25px;
}

.gift-img {
  display: block;
  align-self: flex-end;
}

.gift-btn {
  width: 176px;
}

/*  Популярное  */
.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 36px 30px;
  margin: 0;
  padding: 0;
}

.card-item {
  margin: 0;
}

.card-link {
  display: block;
  text-align: center;
  padding: 0 40px 28px 40px;
  transition: transform 0.3s;
  position: relative;
}

.card-link::before {
  content: "";
  width: 100%;
  height: calc(100% - 57px);
  left: 0;
  bottom: 5px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  transition: transform 0.8s, opacity 0.3;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card-link:active::before {
  opacity: 0.8;
}

a.card-link:focus {
  outline: 3px solid rgba(45, 52, 64, 0.2);
  outline-offset: 10px;
  border-radius: 2px;
}

.card-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
}

.like-subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.card-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.card-desc {
  margin-top: 0;
  margin-bottom: 16px;
}

.card-price-wrap {
  display: flex;
  justify-content: space-between;
}

.card-price {
  width: 150px;
  align-self: center;
  text-align: left;
}

.into-cart-btn {
  width: 32px;
  height: 32px;
  background: url("../images/icons/cart-white.svg") center/16px no-repeat;
  background-color: #ff2f64;
}

.into-cart-btn:hover {
  border: 2px solid #ff2f64;
  background-image: url("../images/icons/cart.svg");
  background-color: rgba(252, 252, 252, 0.30);
}

.into-cart-btn:active {
  background-color: #ffcbd8;
}

.into-cart-btn:focus {
  border: 2px solid #2d3440;
  background-image: url("../images/icons/cart-white.svg");
  background-color: #ff2f64;
}

.into-cart-btn:disabled {
  background-image: url("../images/icons/cart.svg");
  background-color: #B9B9B9;
}

.features-wrap {
  width: 100%;
  background: url("../images/background/features-bg-for.jpg") left top/40px repeat;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 78px;
}

.features {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 58px 40px 36px;
}

.features .slogan {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 36px;
}

.features-list,
.features-item {
  padding: 0;
  margin: 0;
}

.features-list {
  display: flex;
  column-gap: 32px;
  flex-wrap: wrap;
}

.features-item {
  width: 505px;
  padding: 20px 0;
}

.features-text {
  padding-left: 64px;
  position: relative;
  display: block;
}

.features-text::before {
  content: url("../images/icons/features-ice-creme.svg");
  width: 48px;
  height: 48px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  place-content: center;
}

.provider::before {
  content: url("../images/icons/features-cow.svg");
}

.quality::before {
  content: url("../images/icons/features-natural.svg");
}

.shipping::before {
  content: url("../images/icons/features-thermometer.svg");
}

/*  Новости / Подписка  */
.sections-wrap {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  margin-bottom: 78px;
}

.news {
  width: 100%;
  border-radius: 16px;
  background: url("../images/background/news-bg.jpg") no-repeat, #ffffff top left / 100% no-repeat;
  padding: 33px 235px 67px 32px;
}

.title-news {
  margin: 0 0 14px 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.link-news {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.subscribe-wrap {
  width: 100%;
  padding: 7px;
  border-radius: 16px;
  background-image: repeating-linear-gradient(-40deg, #ff2f63 0, #ff2f63 8px, #edf1f5 8px, #edf1f5 23px, #69a9ff 23px, #69a9ff 31px, #edf1f5 31px, #edf1f5 46px);
  background-position: top left -55px;
}

.subscribe {
  padding: 27px 26px;
  border-radius: 16px;
  background-color: #ffffff;
}

.subscribe-text {
  margin: 0 0 44px 0;
}

.subscribe-form {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.email-subscribe {
  width: 332px;
}

.email-subscribe::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #b9b9b9;
}

.send-btn {
  width: 153px;
  min-height: 44px;
  background-color: #ff4a78;
  color: #fcfcfc;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  outline: 4px solid rgba(255, 47, 100, 0.30);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
  transition: all 0.3s;
}

.send-btn:hover {
  outline: 4px solid #ff2f64;
  background: rgba(252, 252, 252, 0.30);
  color: #2d3440;
}

.send-btn:focus {
  outline: 2px solid #2d3440;
  background: #ff2f64;
}

.send-btn:active {
  outline: 2px solid rgb(45, 52, 64);
  background: #feafc3;
  color: #fcfcfc;
}

.send-btn:disabled {
  border-radius: 26px;
  border: 4px solid rgba(185, 185, 185, 0.30);
  background: #b9b9b9;
}

/*  Доставка  */
.delivery {
  width: 100%;
  min-height: 534px;
  background: url("../images/background/delivery-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px 64px 64px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.delivery-box {
  width: 380px;
  padding-top: 103px;
  padding-bottom: 97px;
}

.delivery-box .slogan {
  margin: 0;
  width: 360px;
  margin-bottom: 24px;
  text-align: left;
}

.delivery-text {
  margin: 0;
}

.delivery-form-box {
  width: 500px;
  background-color: #fcfcfc;
  padding: 40px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.point-form,
.address-box {
  margin-bottom: 12px;
  grid-column: span 2;
}

.label {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
  display: inline-block;
}

.note {
  background: url("../images/icons/i.svg") center right /16px no-repeat;
  padding-right: 20px;
  position: relative;
}

.tooltip {
  display: none;
  width: 164px;
  padding: 10px 8px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  stroke-width: 1px;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.20);
  position: absolute;
  top: -8px;
  left: calc(100% + 7px);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #b9b9b9;
  transform: rotate(45deg);
  background-color: #ffffff;
  top: 14px;
  left: -5px;
  border-right: none;
  border-top: none;
}

.note:hover .tooltip,
.note:focus .tooltip {
  display: block;
}

.delivery-input {
  width: 100%;
}

.delivery-form .send-btn {
  grid-column: span 2;
  justify-self: center;
}

/*  Контакты  */
.contacts {
  width: 100%;
  background: url("../images/background/contacts-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px 763px 64px 64px;
}

.contacts-box {
  width: 100%;
  padding: 40px 40px 41px;
  border-radius: 8px;
  background: #fcfcfc;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-box p,
.address {
  margin: 0;
}

.contacts-box .text {
  width: 95%;
  margin-bottom: 11px;
}

.address {
  margin-bottom: 24px;
  ;
}

.contacts-box .phone {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  width: 263px;
}

.contacts-box .phone:hover {
  transform: scale(1.1) translateX(5%);
}

p.schedule {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 34px;
}

a.fedback-btn {
  width: 250px;
  color: #fcfcfc;
  text-align: center;
}

/*  Футер  */
.footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 48px 0;
}

.footer ul,
.footer li {
  padding: 0;
  margin: 0;
}

.footer .socials {
  /* width: 110px; */
  margin-right: 259px;
  /* flex-wrap: wrap; */
}

ul.footer-lists {
  /* width: 370px; */
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 11px;
  margin-right: auto;
  justify-content: left;
}

li.first-items {
  grid-column: 1;
  padding-left: 24px;
}

.second-items {
  grid-column: 3;
}

/*  Это для переполнения списка первого уровня- чтобы вторая колонка не съезжала вниз  */
/* .footer-lists > .first-items + :not(.first-items) {
  grid-row: 1;
} */

li.footer-item {
  margin-bottom: 8px;
}

.footer-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  /* padding-left: 24px; */
  word-wrap: break-word;
}

a.for-supplier {
  font-weight: 700;
  position: relative;
}

a.for-supplier::before {
  content: url(../images/icons/heart.svg);
  width: 16px;
  height: 16px;
  top: 2px;
  left: -26px;
  position: absolute;
}

ul.copyrights {
  width: 193px;
}

.copy {
  transition: transform 0.3s, opacity 0.3s;
}

.logo-academy {
  width: 99px;
  display: inline-block;
  margin-bottom: 5px;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: inline-block;
}

.underline {
  text-decoration: underline;
  text-decoration-color: rgba(45, 52, 64, 0.5);
  text-underline-offset: 3px;
}

.footer a:not(a.social-link):hover {
  opacity: 0.7;
  transform: translateY(-2px);
}

.footer a:not(a.social-link):focus {
  outline: 1px solid rgba(45, 52, 64, 0.5);
  border-radius: 1px;
  outline-offset: 2px;
}

.footer a:not(a.social-link):active {
  opacity: 0.5;
  outline: none;
}





/*  Модальное окно  */
.modal-overlay {
  display: none;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 100;
}

.modal-show {
  display: flex;
  justify-content: center;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  width: 570px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
}

.modal-close-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.modal-close-btn::before,
.modal-close-btn::after {
  content: "";
  background-color: #2d3440;
  width: 17px;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 1px;
}

.modal-close-btn::before {
  transform: rotate(45deg);
}

.modal-close-btn::after {
  transform: rotate(-45deg);
}

.modal-close-btn:hover {
  transform: scale(1.3);
}

.modal-close-btn:focus {
  outline: 1px solid rgb(45, 52, 64, 0.3);
  border-radius: 1px;
  /* background-color: rgba(231, 231, 231, 0.7); */
}

.modal-close-btn:active::before,
.modal-close-btn:active::after {
  background-color: rgba(45, 52, 64, 0.6);
}


.modal-close-btn:focus-visible {
  outline: none;
  border: none;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 33px;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-input {
  width: 100%;
  padding: 12px 16px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  background: #ffffff;
  box-shadow: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

.modal-input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #b9b9b9;
  opacity: 1;
}

.message {
  height: 149px;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 16px;
}

.message::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.modal-btn {
  align-self: end;
}


/*  Каталог  */
.catalog-head {
  padding: 32px 0 41px 0;
}

.breadcrumbs-list {
  display: flex;
  gap: 28px;
  width: 830px;
  padding-left: 0;
  margin: 0;
  margin-bottom: 14px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url(../images/icons/bread-arrow.svg);
  right: -21px;
  top: 2px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  position: absolute;
}

.breadcrumbs-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  display: block;
  transition: transform 0.4s, text-shadow 0.3s;
}

a.current-crumb-link {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-underline-position: under;
}



.catalog-title {
  text-align: left;
  margin: 0;
}


/*  Фильтры  */
.filter {
  margin-bottom: 44px;
}

.catalog-filters {
  display: grid;
  gap: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  justify-content: left;
}

.filters-box {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.filters-box:last-child {
  gap: 18px;
}

.filter-box,
.range-input {
  padding: 0;
  margin: 0;
  border: none;
  justify-self: flex-start;
}

.like-label {
  display: block;
  padding: 0;
  white-space: normal;
  margin-bottom: 7px;
  padding-left: 16px;
}

.select-wrap {
  position: relative;
  width: 196px;
  border: none;
  border-radius: 20px;
  /* background: rgba(252, 252, 252, 0.30); */
}

.select-wrap:before {
  content: '';
  position: absolute;
  right: 13px;
  top: 810px;
  background: url("../images/icons/arrow-down.svg");
  width: 16px;
  height: 16px;
  z-index: 1;
}

.select,
.range {
  border-radius: 20px;
  padding: 8px 16px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 36px;
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

.select::-ms-expand {
  display: none;
}

.select-back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.30);
}

.select:focus {
  outline: 2px solid #fcfcfc;
}

.select:hover ~ .select-bg {
  background: rgba(252, 252, 252, 0.60);
}

.price-box {
  display: flex;
}

.inputs-wrap {
  margin-left: 4px;
}

.range-input {
  width: 24px;
  background-color: transparent;
  font: inherit;
}

.range-input::placeholder {
  font: inherit;
}

.range-input:hover {
  background-color: transparent;
  color: rgba(45, 52, 64, 0.6);
}

.range-input:focus {
  background-color: transparent;
  outline: 1px solid rgba(45, 52, 64, 0.6);
  outline-offset: 2px;
  border-radius: 1px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range {
  margin: 0;
  padding: 8px 16px;
  min-height: 36px;
  background: rgba(252, 252, 252, 0.30);
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  transform: translateY(500%);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
  width: 56px;
  top: 0;
  left: 40px;
}

.range-toggle {
  padding: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fcfcfc;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
}


.range-toggle:hover {
  border-color: #fcfcfc;
  background: #2d3440;
}

.range-toggle:focus {
  border-color: #fcfcfc;
  background: #2d3440;
  outline: 2px solid #2d3440;
  /* outline-offset: 2px; */
}

.range-toggle:active {
  background: #2d3440;
  border-color: #2d3440;
}

.toggle-min {
  transform: translate(-100%, -50%);
}

.toggle-max {
  transform: translate(56px, -50%);
}

/*  Радио жирность  */
.filter-list {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.30);
  padding: 8px 24px;
  min-height: 36px;
}

.filter-label {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.fillers-list {
  min-height: 2.8em;
}

.input-box {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
  align-self: center;
  overflow: hidden;
  background-repeat: no-repeat;
  border: 0.1em solid #2d3440;
  transition: transform 0.3s, background 0.2ms, border-color 0.2s;
}

.fat-input:focus:not(:disabled) ~ .input-box,
.fillers-input:focus:not(:disabled) ~ .fillers-box {
  background-color: rgba(252, 252, 252, 0.5);
}

.fat-input:focus:not(:disabled) ~ .fat-box,
.fillers-input:focus:not(:disabled) ~ .fillers-box {
  transform: scale(1.1);
}

/* .fat-input:hover ~ .input-box,
.fillers-input:hover ~ .input-box {
  border-color: #fcfcfc;
} */

.filter-label > input:hover:not(:disabled) ~ .input-box {
  border-color: #fcfcfc;
}

.fat-input:disabled ~ .input-box,
.fillers-input:disabled ~ .input-box {
  opacity: 0.4;
}

.fat-box:not(.fillers-box)::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2d3440;
  top: 4px;
  left: 4px;
  display: none;
}

.fat-input:checked + .fat-box::after {
  display: block;
}

.fat-input:focus:not(:disabled) + .fat-box::after {
  background-color: #fcfcfc;
  transform: scale(1.1);
}

.fat-input:hover:not(:disabled) + .fat-box::after {
  background-color: #fcfcfc;
}



/*  Чекбокс - наполнители  */
.fillers-filter {
  min-width: 604px;
}

.fillers-box {
  border-radius: 2px;
}

.fillers-input:checked + .fillers-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%232D3440' fill-rule='evenodd' d='M1.6153 1.6153a.9619.9619 0 0 1 .6803-.282h8.9589a.6667.6667 0 1 0 0-1.3333H2.2956C1.6867 0 1.1028.242.6723.6727a2.2966 2.2966 0 0 0-.6722 1.6235v11.4071a2.2954 2.2954 0 0 0 2.2956 2.2962h11.4021c.6089 0 1.1929-.242 1.6233-.6726a2.2966 2.2966 0 0 0 .6723-1.6236V7.9998a.6667.6667 0 0 0-1.3333 0v5.7035a.9633.9633 0 0 1-.282.681.962.962 0 0 1-.6803.2819H2.2956a.962.962 0 0 1-.6803-.2819.9633.9633 0 0 1-.282-.681V2.2963a.9633.9633 0 0 1 .282-.681Zm14.2014.3251a.6667.6667 0 1 0-.968-.917l-7.2346 7.637L5.7825 6.727a.6667.6667 0 0 0-.968.917l2.3156 2.4443a.6667.6667 0 0 0 .968 0l7.7186-8.1479Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border: none;
}

.fillers-input:checked:hover:not(:disabled) + .fillers-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23FCFCFC' fill-rule='evenodd' d='M1.6153 1.6153a.9619.9619 0 0 1 .6803-.282h8.9589a.6667.6667 0 1 0 0-1.3333H2.2956C1.6867 0 1.1028.242.6723.6727a2.2966 2.2966 0 0 0-.6722 1.6235v11.4071a2.2954 2.2954 0 0 0 2.2956 2.2962h11.4021c.6089 0 1.1929-.242 1.6233-.6726a2.2966 2.2966 0 0 0 .6723-1.6236V7.9998a.6667.6667 0 0 0-1.3333 0v5.7035a.9633.9633 0 0 1-.282.681.962.962 0 0 1-.6803.2819H2.2956a.962.962 0 0 1-.6803-.2819.9633.9633 0 0 1-.282-.681V2.2963a.9633.9633 0 0 1 .282-.681Zm14.2014.3251a.6667.6667 0 1 0-.968-.917l-7.2346 7.637L5.7825 6.727a.6667.6667 0 0 0-.968.917l2.3156 2.4443a.6667.6667 0 0 0 .968 0l7.7186-8.1479Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border: none;
}

.filter-btn {
  min-width: 185px;
  min-height: 36px;
  padding: 8px 32px;
  background: rgba(252, 252, 252, 0.30);
  margin-top: 29px;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #fcfcfc;
}

.filter-btn:focus {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 2px #2d3440;
  outline: none;
}

.filter-btn:hover {
  background-color: #fcfcfc;
}

.filter-btn:active {
  background-color: rgba(252, 252, 252, 0.50);
  box-shadow: inset 0 0 0 2px rgba(252, 252, 252, 0.50);
  outline: none;
}

.pagination-catalog {
  padding: 52px 0 81px;
  display: flex;
  align-items: flex-start;
}

.show-more {
  min-width: 179px;
  min-height: 44px;
  margin-left: 488px;
  margin-right: auto;
}

.pages-list,
.pages-item {
  margin: 0;
  padding: 0;
}

.pagination-box {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

.pages-list {
  display: flex;
  min-width: 168px;
  padding-top: 10px;
}

.pages-item {
  width: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.page-link {
  font: inherit;
  line-height: 20px;
  align-content: center;
  display: grid;
}

.arrow {
  position: relative;
  width: 16px;
  height: 16px;
  /* display: block; */
}

.arrow::before,
.arrow::after {
  content: "";
  background-color: #2d3440;
  width: 0.5em;
  height: 0.1em;
  left: 0;
  top: 50%;
  position: absolute;
  transform-origin: left 50%;
}

.arrow::before {
  transform: rotate(-60deg) translateY(1px);
}

.arrow::after {
  transform: rotate(45deg);
}

.pages-item:last-child {
  transform: rotateY(180deg);
}

.page-link:disabled > .arrow {
  opacity: 0.3;
}


.page-current {
  background-color: #fcfcfc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
